#title {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 100px;
  padding-top: 8%;
  text-shadow: 2px 5px 5px black;
}

#info {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 25px;
  text-shadow: 2px 5px 5px black;
  padding-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
}

.icons {
  color: white;
}

hr{
  width: 75%;
}

i {
  padding: 10px;
}

.img-circle {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 50%;
}

.project_shots {
  height: 100%;
  width: 95%;
  padding: 5%;
}

.sub-titles {
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 55px;
  /*padding-top: 2%;*/
  text-shadow: 2px 5px 5px black;
}

html, body, .row{
  height: 100%;
}

body {
  background: url("./images/background.jpg") fixed;
  background-size: cover;
  position: relative;
}
